h3 {
	margin: 0;
}

.member-text-area h2 {
	margin-bottom: 0;
	color: #00b3e3;
}

.main-content .wrap {
	padding: 70px 100px;
}
.site-container {
	background-color: #f2f2f3;
}
.team-member {
	margin-top: 45px;
	overflow: hidden;
}
#board-bios {
	margin-top: 40px;
}

.bio-section {
	padding: 30px 70px;
	margin-bottom: 50px;
	box-shadow: 1px 1px 4px 1px #E0E0E0;
	border-radius: 15px;
	overflow: hidden;
	background-color: #ffffff;
}

.member-column {
	display: inline-block;
}


.member-text-area {
	display: inline-block;
	width:70%;
}

.member-image-area {
	display: inline-block;
	width: 25%;
	height: 200px;
	float:left;
	margin-right: 5%;
}

.member-image-area img {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 960px) {
	.member-image-area {
		height: 150px;
		width: 35%;
	}
	.member-text-area {
		display: block;
		width: auto;
	}
}
@media only screen and (max-width: 800px) {
	.member-text-area p {
		font-size: 12px;
	}
	.member-text-area h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 16px;
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) { 
	h1,
	h2 {
		font-size: 30px;
	}
	.member-text-area h2 {
		font-size: 18px;
	}
	.member-text-area h3 {
		font-size: 16px;
	}
	.member-text-area p {
		font-size: 12px;
	}
	.main-content .wrap {
		padding: 0;
	}
	#board-bios,
	#creative-bios {
		padding: 15px;
	}
}



